<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">

  <Package Name="Fastmail Files"
           Version="1.0.0.0"
           Manufacturer="Fastmail Pty Ltd"
           UpgradeCode="FF57AA76-1DFC-42D9-BFE9-F696DAEA2CDF"
           Scope="perMachine">

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <!-- Close running processes before install/upgrade/uninstall -->
    <util:CloseApplication Id="CloseService"
                           Target="FilesClient.Service.exe"
                           CloseMessage="yes"
                           RebootPrompt="no"
                           Timeout="5" />
    <util:CloseApplication Id="CloseApp"
                           Target="FilesClient.App.exe"
                           CloseMessage="yes"
                           RebootPrompt="no"
                           Timeout="5" />

    <!-- Directory structure under Program Files -->
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="FASTMAILDIR" Name="Fastmail">
        <Directory Id="INSTALLDIR" Name="Fastmail Files">

          <Directory Id="SERVICEDIR" Name="Service">
            <Files Include="$(var.ServicePublishDir)\**" />
          </Directory>

          <Directory Id="APPDIR" Name="App">
            <Files Include="$(var.AppPublishDir)\**" />
          </Directory>

          <!-- HKCU Run keys for auto-start on login -->
          <Component Id="ServiceRunKey" Guid="DAC96A4E-F83A-44E7-884F-6343D75AE7B0">
            <RegistryValue Root="HKCU"
                           Key="Software\Microsoft\Windows\CurrentVersion\Run"
                           Name="Fastmail Files Service"
                           Type="string"
                           Value="&quot;[SERVICEDIR]FilesClient.Service.exe&quot;"
                           KeyPath="yes" />
          </Component>

          <Component Id="AppRunKey" Guid="FF23D205-4DF7-42C4-9E96-67420FC2D719">
            <RegistryValue Root="HKCU"
                           Key="Software\Microsoft\Windows\CurrentVersion\Run"
                           Name="Fastmail Files"
                           Type="string"
                           Value="&quot;[APPDIR]FilesClient.App.exe&quot;"
                           KeyPath="yes" />
          </Component>

        </Directory>
      </Directory>
    </StandardDirectory>

    <!-- Launch both processes after install (unelevated, as logged-in user) -->
    <CustomAction Id="LaunchService"
                  Directory="SERVICEDIR"
                  ExeCommand="&quot;[SERVICEDIR]FilesClient.Service.exe&quot;"
                  Impersonate="yes"
                  Return="asyncNoWait" />

    <CustomAction Id="LaunchApp"
                  Directory="APPDIR"
                  ExeCommand="&quot;[APPDIR]FilesClient.App.exe&quot;"
                  Impersonate="yes"
                  Return="asyncNoWait" />

    <InstallExecuteSequence>
      <Custom Action="LaunchService" After="InstallFinalize" Condition="NOT REMOVE~=&quot;ALL&quot;" />
      <Custom Action="LaunchApp" After="LaunchService" Condition="NOT REMOVE~=&quot;ALL&quot;" />
    </InstallExecuteSequence>

  </Package>
</Wix>
